# Core functionality - changes here should be rare!
/src/app.py                   @EliasLunden-TIVI
/src/backend/database.py      @EliasLunden-TIVI
/src/backend/routers/auth.py  @EliasLunden-TIVI

# The frontend will need refactored soon to be more object oriented.
/src/static/   @EliasLunden-TIVI
